@import "variables.scss";



body {
  color: $default-text-color;
  background-color: $background-color;
 
}

footer {
  background-color: $background-darken;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

// Footer
.tmn-browswer-badge {
  width: 70px;
  border-style: $button-border;
}


// RESPONSIVE IMAGE
img {
  width: 100%;
  height: auto;
}

// SITE TITLE
$title-gif-max-width: 100px;

header {
  color: $default-text-color;
}

header img{
  max-width: $title-gif-max-width;
}

header .left img {
  float: right;
}

header .right img {
  float: left;
}





// NAVBAR
nav {
  // border-bottom: 1px solid black;
  background-color: antiquewhite;
}

.tmn-navbar ol {
  list-style-type: none;
  padding-left: 0;
}

.tmn-navbar {
  display: inline-block;

}

.tmn-navbar a::after {
  display: inline-block;
  color: #000;
  content: '  ';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

// TEXT ALIGNMENT
.tmn-centerText {
    text-align: center;
}

.tmn-leftText {
    text-align: left;
}

.tmn-rightText {
    text-align: right;
}

.tmn-justifyText {
    text-align: justify;
}

// CLASSIC BUTTON
.tmn-buttonClasic {
  border: #000;
  border-style: $button-border;
  text-align: center;
  text-decoration: none;
  font-size: $button-font-size;
  font-family: inherit;
  margin: 4px 2px;
  cursor: pointer;
}